.crypto-img {
    height: 30px;
  }

  .bi-star{
    transition: fill 70ms;
  }

  .bi-star:hover{
    fill: #ffc107;
  }

  .reset-btn, .reset-btn:focus, .reset-btn:hover{
    padding: 0; 
    cursor: default; 
    border: none;
    outline: none;
    background: none;
  }